
<h1>Peltodata-palvelun kuvaus</h1>


	
<iframe loading="lazy" width="100%" height="400" src="https://embed.windy.com/embed2.html?lat=62.438&amp;lon=25.254&amp;detailLat=61.495&amp;detailLon=23.801&amp;width=650&amp;height=450&amp;zoom=5&amp;level=surface&amp;overlay=wind&amp;product=ecmwf&amp;menu=&amp;message=true&amp;marker=&amp;calendar=now&amp;pressure=&amp;type=map&amp;location=coordinates&amp;detail=&amp;metricWind=default&amp;metricTemp=default&amp;radarRange=-1" frameborder="0"></iframe>


				
<p>
	<strong><a name="sisallys"></a>Sisällys:</strong><br />
	- <a href="#topic0">Käyttöehdot</a><br />
	- <a href="#topic1">Palvelun tarkoitus</a><br />
	- <a href="#topic2">Aikataulutus ja Palaute</a><br />
	- <a href="#topic3">Viljelijöille</a><br />
	- <a href="#topic4">Tutkijoille</a><br />
	- <a href="#topic5">Neuvojille</a><br />
	- <a href="#topic6">Yrityksille</a><br />
	- <a href="#topic7">Datalähteet</a><br />
	- <a href="#topic8">Palvelun rakenne</a><br />
	- <a href="#topic9">Demoraportti maatilasta</a><br />
	- <a href="#topic10">Hankkeet</a></p>
<p>
	&nbsp;</p>
	
	
<h3><a name="topic0"></a>Käyttöehdot</h3>
<p>
	
Rekisteröinnin yhteydessä käyttäjä on hyväksynyt käyttöehdot. Mikäli esiintyy palvelun väärinkäyttöä, palvelunkehittäjällä on yksipuolinen oikeus sulkea kyseinen käyttäjätili. Palvelunkehittäjällä ei ole missään vaiheessa oikeutta myydä käyttäjän dataa eteenpäin. Dataa ei julkaista eikä jaeta eteenpäin. Dataa voidaan julkaista kuvina kalvoesityksiä varten, mutta siten ettei sitä voida kohdentaa kyseiseen käyttäjän tilaan. Palvelukehittäjä ei vastaa rahallisesti, mikäli esim. datoja häviää palvelusta tai palvelussa tulee katkoksia. Peltodatassa ei ole käytössä palvelutasomäärityksiä. 
	</p>

<p>
	&nbsp;</p>
	
<h3><a name="topic1"></a>Palvelun tarkoitus</h3>
<p>

Peltodata on useissa eri hankkeissa kehitetty palvelu, jonka konepellin alla on aina enemmän kuin mitä päällepäin näkyy. 
Palvelu on tarkoitettu olemaan tutkimuksen esiintuomisen ja kaupallisen toiminnan välimaastossa, auttaen tutkimuksesta tulevien uusien analyysien ja algoritmien siirtymistä avoimiin tai kaupallisiin palveluihin ja kehittämään datalähtöistä päätöksentekoa maataloudessa. Palvelu auttaa tutkijoita datan keräämisessä ja analysoinnissa sekä tekoälyn algoritmien kehittämisessä. Palvelu auttaa viljelijöitä saamaan avoimista datalähteistä löytyvää tietoa. Palvelu auttaa neuvojien työtä keräämällä yhteen raporttiin eri datalähteistä saatavaa tietoa. 

	</p>
<p>
	&nbsp;</p>

<h3><a name="topic2"></a>Aikataulutus ja Palaute</h3>
<p>
	Peltoraporttia kehitetään asteittain, joiden arvioidut ajankohdat löytyvät myös peltoraportista, kunkin eri teeman alta.
	Arvioidut aikataulut:<br>
	- Vyöhykekartat 23.10.2021<br>
	- Sääasemat ja niiden datojen analyysit, 15.11.2021<br>
	- Ortokartat 15.12.2021<br>
	- Lidar-kartat 15.1.2022<br>
	- Lajikeanalyysit 15.2.2022<br>
	- Lisää toiminteita on suunnitteilla ja julkaistaan kun osa edeltävissä onnistuneesti tehty. <br>
	<br>
	Kunkin raporttiin tulevan uuden julkaisun jälkeen toivotaan palautetta käyttäjiltä.<br> 

	Tieto peltodataraportin päivittymisestä lähetetään viesti rekisteröityneelle käyttäjälle maksimissaan kerran kuukaudessa.<br> 
	
	Palvelun kehittämiseen ja käyttöön liittyvistä asioista voi lähettää palautetta osoitteeseen peltodata@gmail.com.<br>
	
	Hankkeisiin liittyvissä asioissa voi olla suoraan yhteydessä kyseisen hankkeen vetäjään. <br>
	
	
	</p>
<p>
	&nbsp;</p>
	
	
<h3><a name="topic3"></a>Viljelijöille</h3>
<p>
	
	Peltodata palvelu on kehitetty viljelijöille. Palveluun julkaistaan useita analysoituja karttoja, jotka voi katsoa maatilakohtaisesta peltoraportista. Raportti tulee kehittymään jatkuvalla tahdilla. Palvelulla halutaan tuoda esiin mahdollisuus hallita peltoja datalähtöisesti. Eli tavoitteena on, että päätöksenteko pohjautuisi pitkän ajan datoihin ja niiden analysointeihin. Palvelun avulla pystyy arvioimaan pellon kuntoa eri datojen avulla. Katso demot peltoraportista.
	
	</p>
<p>
	&nbsp;</p>
	
	
<h3><a name="topic4"></a>Tutkijoille</h3>
<p>
	Onko sinulla loistava testausidea maatalouden datojen osalta? Tarvitsetko apua algoritmin kehittämiseen tai testaamiseen? Haluatko datoille paikan, jossa säilyttää eri datoja, kuten maanäytteitä, sekä saada niistä valmiin raportin? Haluatko kenties ottaa käyttöön sensoreita, mutta haluaisit ne samaan palveluun? Tai haluatko kehittää jonkin oman rajapinnan datojen saamiseksi jostain palvelusta? Molempia tapauksia varten Peltodata-palvelusta löytyy Node-red toiminto. Vai haluatko vastaavan palvelun itselle? Peltodata-palvelu on toteutettu avoimella lähdekoodilla ja se toimii docker-tekniikalla helpottaen alustan vaihtoa ja koodausta erillisinä palikoina. 
	</p>
<p>
	&nbsp;</p>
	
	
<h3><a name="topic5"></a>Neuvojille</h3>
<p>
	Oletko menossa maatilakäynnille, mutta lähtötiedot ovat heikot? Neuvojan apuna on peltoraportin saaminen palvelusta. Raportti antaa laajat mahdollisuut arvioida tilan peltoja eri näkökulmista, jo ennen tilakäyntiä. Esim. PeltoAI-hankkeessa tunnistettiin useita pelloilla olleita ongelmakohtia pelkästään datojen avulla. Olennaista on ongelmakohtien syyt ja kohdentaa työpanokset oikein.
	</p>
<p>
	&nbsp;</p>
	

<h3><a name="topic6"></a>Yrityksille</h3>
<p>
	Onko sinulla idea kehittää jotain tuotetta, mutta ideaa olisi hyvä ensin testauttaa. Peltodata-palvelu antaa raamit testata erilaisia asioita. Miten yhteistyöllä voitaisiin edistää sensoreiden yleistymistä ja analyysien kehittämistä?
	</p>
<p>
	&nbsp;</p>
	
	

<h3><a name="topic7"></a>Datalähteet</h3>
<p>

Hankkeissa on kerätty ja analysoitu datoja hyvin paljon. Alle on listattu esimerkkejä eri datalähteistä.
    <br>
	Avoimet datat<br>
	- orto<br>
	- Satelliitti (Sentinel: mm. NDVI ja NDMI)<br>
	- Lidar<br>
	- maaperäkartta <br>
	- Säätiedot
	
	<br>
	<br>
	
	Maatilan omat datat<br>
	- maanäytteet tarkoilla sijaintitiedoilla<br>
	- hehkutusanalyysi<br>
	- satokartoitin<br>
	- salaojakartat<br>
	- maaskannaukset (Veris, Soiloptix, GPR)<br>
	- NDVI-skannaukset<br>
	- Drone (RGB & multispectri)<br>
	- sääasema<br>
	- kosteussensori<br>
	- pohjaveden korkeus<br>
	- kastelujärjestelmä<br>
	- vesinäytteet<br>
	- penetrometrimittaukset<br>
	- Irtotiheysmittaukset<br>
	- tensiometri<br>
	
	
	</p>
<p>
	&nbsp;</p>

<h3><a name="topic8"></a>Palvelun rakenne</h3>
<p>
	- Github-osoitteet (kehitetyt koodit ovat saatavilla eri githubeista )<br>
	- Oskari (front-end/back-end kokonaisuus, katso www.oskari.org<br> 
	- Geoserver (back-end, sisältää mm. postgresql tietokannan)<br>
	- Docker (mahdollistaa palvelun kehittämisen ja kopioinnin eri käyttöä varten)<br>
	- Node-red (Datan keräämiseen rajapinnasta)<br>
	- Rajapinnat (Käytössä mm. Digita-LoraWan. Lisäksi analyysit ja layerit käyttää eri rajapintoja, esim. WMS)<br>
	- Python (Mahdollista ajaa esim. AI-algoritmi koodeja.)<br>
	
	</p>
<p>
	&nbsp;</p>
	
<h3><a name="topic9"></a>Demoraportti maatilasta</h3>
<p>
	Kustakin suomen maatilasta on mahdollista tehdä peltoraportti. Raportti kehittyy eri hankkeiden myötä. Raportti koostuu avoimista datoista ja niistä tehdyistä analyyseista. Palvelun seuraavassa kehitysvaiheessa, maatilan omia datoja voi ladata palveluun, jotka kerätään mukaan raporttiin. Tässä vaiheessa ne ovat hankkeen pilottipelloilta kerättyjä datoja.<br><br>
	
	Demoraportti 1 löytyy <a href="https://www.avoinsatakunta.fi/wp-content/uploads/2021/10/Peltoraportti_demo1.pdf">tästä</a>.
	Raportti sisältää mm. Vyöhykekartat, lähimmän sääaseman koosteen ja lidar-kartat. <br><br>
	
	Demoraportti 2 löytyy <a href="https://www.avoinsatakunta.fi/wp-content/uploads/2021/10/Peltoraportti_demo2.pdf">tästä</a>.
	Raportti sisältää mm.: Vyöhykekartat, lähimmän sääaseman koosteen ja lidar-kartat.
	
	</p>
<p>
	&nbsp;</p>

<h3><a name="topic10"></a>Hankkeet</h3>
<p>
	Peltodata-palvelua kehitetään osana useita eri hankkeita:
	
	MIKÄ DATA -hanke. https://www.avoinsatakunta.fi/mikadata-hanke/<br>
	PeltoAI<br>
	BioEväät<br>
	eKetju<br>
	IFDEA<br>
	</p>
<p>
	&nbsp;</p>





<p><a href="https://www.avoinsatakunta.fi/wp-content/uploads/2015/11/logoSivuille-300x48.jpg"><img loading="lazy" class="alignnone size-medium wp-image-2560" src="https://www.avoinsatakunta.fi/wp-content/uploads/2015/11/logoSivuille-300x48.jpg" alt="" width="300" height="48"/> </a>

<a href="https://www.avoinsatakunta.fi/wp-content/uploads/2016/12/logo_en.gif.png"><img loading="lazy" class="alignnone wp-image-2470" src="https://www.avoinsatakunta.fi/wp-content/uploads/2016/12/logo_en.gif.png" alt="" width="124" height="162" /></a>


<a href="http://www.avoinsatakunta.fi/wp-content/uploads/2015/11/eu-vipuvoimaa-2014_2020.png"><img loading="lazy" class="alignnone wp-image-2470" src="http://www.avoinsatakunta.fi/wp-content/uploads/2015/11/eu-vipuvoimaa-2014_2020.png" alt="" width="150" height="110" /></a>


<a href="http://www.avoinsatakunta.fi/wp-content/uploads/2013/09/alue.jpg"><img loading="lazy" class="alignnone wp-image-2470" src="http://www.avoinsatakunta.fi/wp-content/uploads/2013/09/alue.jpg" alt="" width="150" height="100" /></a></p>



<p>
	<a href="#sisallys">Go to table of contents</a></p>
